@model Pokemon
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">

        <div class=" bg-danger text-light card-header">
            <h3><strong>Eliminar pokemon-@Model.Nombre</strong></h3>
        </div>
        <div class="card-body">

            <h2>Esta seguro que quiere eliminar este pokemon?</h2>

            <form  asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Nombre" />
                <button type="submit" value="Delete" class="btn-danger">Eliminar</button>
                <a asp-action="Index" class="btn btn-light text-dark ">Cancelar</a>
            </form>


        </div>
    </div>

