@model IEnumerable<pokedex.ViewModels.RegionesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>
    <head></head>
    <body class="bg-warning">
        <div class="container">
            <a asp-controller="Pokemon" asp-action="Index"class="btn btn-success">Pokedex</a>
            <a asp-controller="Pokemon" asp-action="Create" class="btn btn-danger" type="button">Registar  un pokemon</a>
            <a asp-controller="Tipos" asp-action="Index" class="btn btn-info" type="button">Crear tipos de pokemon</a>
            <a asp-controller="Regiones" asp-action="Index" class="btn btn-warning" type="button">registar region</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Regiones</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Region</td>
                            <td>
                               
                                <a asp-action="Delete" asp-route-id="@item.Region"class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="Crear" class="btn btn-success">Crear region</a>

        </div>
   


</body>
</html>

